/* Base styles for the dropdown */
.account-dropdown {
    background-color: #343a40; 
    border: none;
    border-radius: 0.60rem;
}


.account-dropdown:hover {
    background-color: #3a3b3c; 
}

/* Styling for dropdown content */
.dropdown-content {
    padding: 10px;
    color: #ccc;
    background: linear-gradient(145deg, #333740, #282c34);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
}
.dropdown-detail {
    display: flex;
    flex-direction: column;
}

.dropdown-title {
    font-size: 24px;
    font-weight: 800;
    color: #bbb; /* Highlighting username */
    transition: color 0.2s ease-in-out;
}


.profile-pic-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}


.profile-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
}


.dropdown-subtitle {
    font-size: 18px;
    color: #aaa; 
    transition: color 0.2s ease-in-out;
}

.copy-button {
    border-color: #666;
    color: #fff;
    background: linear-gradient(180deg, #5c626e, #434951);
    transition: all 0.2s ease-in-out;
}

.copy-button:hover, .copy-button:focus {
    background-color: #0D6EFD;
    color: #ffffff;
    border-color: #0D6EFD;
    transform: translateY(-2px); /* Subtle lift effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.bi-clipboard, .bi-check-lg {
    margin-right: 5px; /* Icon spacing */
}


.dropdown-title:hover, .dropdown-subtitle:hover {
    color: #f8f9fa;
}

.copy-button, .account-dropdown {
    cursor: pointer;
}
