.connect-wallet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    position: absolute; 
    top: 0;
    left: 0;
  }
  
  .connect-wallet-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: black; 
    display: flex; 
    flex-direction: column;
    align-items: center;    
    gap: 10px;
    border: none;
    transition: transform 0.2s, background-color 0.2s;
    border-radius: 70px;
  }
  
  .connect-wallet-button:hover {
    transform: scale(1.05);
    background-color: #e57000;
    color: white; 
  }
  
  .bi-wallet2 {
    font-size: 24px; 
  }
  