.post-container {
    padding: 20px;
}

.post-card:hover {
    transform: translateY(-5px);
}

.card-body {
    color: #333;
}

.card-title {
    color: #0056b3;
    font-weight: bold;
}

.button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bi-hand-thumbs-up-fill {
    color: #007bff;
}
.post-container {
    padding: 20px;
    background-color: #3A3A3A; /* Dark background for the container */
}


.post-card {
    margin-top: 15px;
    background-color: #2C2C2C; /* Slightly lighter than container for depth */
    color: #ddd; /* Light text color for readability */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover */
}
.card-title, .card-text {
    color: #fff; /* White text for titles and content */
}

.like-button {
    border-color: #555; /* Darker border for button */
    color: #fff; /* White color for text and icon */
}

.like-button:hover {
    background-color: #444; /* Dark background on hover */
    color: #fb3958; /* Change icon color to something noticeable */
}

.bi-heart, .bi-heart-fill {
    color: inherit; /* Ensure icon color matches the button text color */
}

.card-footer {
    background-color: #222; 
    border-top: 1px solid #444;
}

small.text-muted-dark {
    color: #FFCC99; 
}

.card-image {
    display: flex; 
    flex-direction: row;
}


.has-no-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    height: 100%;
    color: #fff;
}