.view-user-container {
    padding: 30px;
    background-color: #2C2C2C;
    color: #ddd; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view-user-container:hover {
    transform: translateY(-5px); /* Slight rise on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Deeper shadow on hover */
}

.view-user-h2 {
    color: #FFCC99; 
    font-weight: bold;
}

.view-user-p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #aaa; 
}

.view-user-button {
    background-color: #0D6EFD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #0b5ed7;
    transform: scale(1.05); /* Slight scale for interactive feedback */
}

.status-message {
    color: #0D6EFD;
    font-style: italic;
    margin-top: 10px;
}